.missions-section {
  padding: 4rem 1rem;
  font-family: sans-serif;
}

.missions-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 105%;
  margin: 0 0;
}

.mission-card {
  flex: 1 1 300px;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.mission-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.mission-card h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #deb6ff;
}
